.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .3rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color #ecf8ff
    border-color #4498f8
  &.warning
    background-color rgba(255,229,100,.3)
    border-color #E6A23C
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $textColor
  &.danger
    background-color #ffe6e6
    border-color #F56C6C
    color #F56C6C
    .custom-block-title
      color #F56C6C
    a
      color $textColor
