.custom-block.tip{
  background-color: #ecf8ff;
  border-color: #4498f8;
}

.custom-block.danger{
  background-color: #ffe6e6;
  border-color: #f56c6c;
  color: #f56c6c;
}
.custom-block.danger .custom-block-title{
  color: #f56c6c;
}

.custom-block.tip, .custom-block.warning, .custom-block.danger{
  border-left-width: .3rem;
}